.text{
    margin-top: 150px;

}

.button_css{
    text-align: center; 
}
.button{
    border-radius: 0%;
    width: 50%; 
    background-color: #04C35C; 
    border: none; 
    border-color: #04C35C; 
    color: white; 
    border-radius: 5px; 
    font-size: 20px; 
}