.day {
    width: 135px;
    height: 300px;
    border: 2px solid black;
    margin: 6px;
    background-color: gray;
    
    text-align: center;
}
.schedule {
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}